@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,500;1,700;1,800&display=swap');

/* Estilo geral */
*{
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #010221;
}

/* Retirar rolagem da scrollbar */
body::-webkit-scrollbar{
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #C43302;
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    
    box-shadow: 0px 0px 10px #333;
}

h1 {
    margin: 0;
}

/* Navegação */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
    transition: .9s;
}

nav ul li a:hover{
    transform: scale(1.1);
    color: #f8f8f8;
}

.event-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.event {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.event img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
}

.event h3 {
    margin-top: 10px;
}

.event-details.hidden {
    display: none;
}

section{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section a{
    color: #C43302;
}

form{
    margin: 10px;
    
}

input{
    color: #010221;
    padding: 10px;
}

#input-btn{
    color: #ffffff;
    background-color: #C43302;
    padding: 10px;
}

#searchButton{
    color: #ffffff;
    background-color: #C43302;
    padding: 10px;
}

#category {
    background-color: #C43302;
    margin: 10px;
    padding: 10px;
}